PORT=3000
SESSION_SECRET=super_secreto_cambiar
FRONTEND_URL=http://localhost:5173
DB_USER=sa
DB_PASSWORD=TuPasswordSegura
DB_SERVER=localhost
DB_NAME=SistemaSoporte
DB_PORT=1433
DB_ENCRYPT=false
DB_TRUST_CERT=true
